@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "Fira Code", monospace;
  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;

  /* Logo background animation */
  @keyframes shiftGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  /* Color change animation */
  @keyframes imptText {
    0% { color: white; }
    100% { color: #1b75bf; }
  }
}

/* Custom Utility Classes */
.animate-logo-bg {
  background: linear-gradient(270deg, #af44e8, #0af2d5, #f20ac4);
  background-size: 200% 200%;
  animation: shiftGradient 6500ms ease infinite;
}

#important-text:hover {
  animation: imptText 200ms infinite linear;
}